@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-ze-dots: var(--font-ze-dots);
  --green-color-primary: #13FFAA;
  --blue-color-primary: #1E67C6;
  --purple-color-primary: #CE84CF;
  --red-color-primary: #DD335C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ze-dots);
}